services:
  mongo:
    container_name: database
    image: mongo
    restart: always
    networks:
      private:
        ipv4_address: 192.168.110.80
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    container_name: web_database
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    networks:
      private:
        ipv4_address: 192.168.110.81
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://host.docker.internal:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      private:
        ipv4_address: 192.168.110.82

  service_account:
    container_name: service_account
    image: nuttascholar/smartbiz_account:2.0
    environment:
      SECRET: ${SECRET}
      WEB_HOST: http://${VITE_HOST}:${VITE_PORT}
      PORT: 3000
      DB_URL: mongodb://root:example@mongo:27017/Account?authSource=admin
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_PORT: 9000
      MINIO_USE_SSL: false
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    networks:
      private:
        ipv4_address: 192.168.110.90
    ports:
      - ${VITE_PORT_ACCESS}:3000
    depends_on:
      - mongo
      - minio

  service_login:
    container_name: service_login
    image: nuttascholar/smartbiz_login:1.0
    environment:
      SECRET: ${SECRET}
      WEB_HOST: http://${VITE_HOST}:${VITE_PORT}
      PORT: 3001
      DB_URL: mongodb://root:example@mongo:27017/User?authSource=admin
    networks:
      private:
        ipv4_address: 192.168.110.91
    ports:
      - ${VITE_PORT_LOGIN}:3001
    depends_on:
      - mongo

  service_stock:
    container_name: service_stock
    image: nuttascholar/smartbiz_stock:1.0
    environment:
      SECRET: ${SECRET}
      WEB_HOST: http://${VITE_HOST}:${VITE_PORT}
      PORT: 3003
      DB_URL: mongodb://root:example@mongo:27017/Stock?authSource=admin
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_PORT: 9000
      MINIO_USE_SSL: false
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      SERVICE_ACCOUNT_URL: http://service_account:3000
      TZ: Asia/Bangkok
    networks:
      private:
        ipv4_address: 192.168.110.93
    ports:
      - ${VITE_PORT_STOCK}:3003
    depends_on:
      - mongo
      - minio

  service_storage:
    container_name: service_storage
    image: nuttascholar/smartbiz_storage:1.0
    environment:
      SECRET: ${SECRET}
      WEB_HOST: http://${VITE_HOST}:${VITE_PORT}
      PORT: 3002
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_PORT: 9000
      MINIO_USE_SSL: false
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    networks:
      private:
        ipv4_address: 192.168.110.92
    ports:
      - ${VITE_PORT_STORE}:3002
    depends_on:
      - minio

  web:
    container_name: web
    image: nginx
    volumes:
      - ./templates:/etc/nginx/templates
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - ${VITE_PORT_WEB}:80
    environment:
      - NGINX_PORT=80

networks:
  private:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.110.0/24

volumes:
  mongo-data: {}
  minio-data: {}
