WEB_HOST=http://localhost:3030
PORT=3004
SECRET=change-me
MONGO_URI_ACCOUNT=mongodb://root:example@localhost:27017/Account?authSource=admin
MONGO_URI_BILL=mongodb://root:example@localhost:27017/Bill?authSource=admin
MONGO_URI_STOCK=mongodb://root:example@localhost:27017/Stock?authSource=admin
SERVICE_ACCOUNT_URL=http://localhost:3000
