WEB_HOST=http://localhost:4030
PORT=3005
MONGO_URI_STOCK=mongodb://root:example@localhost:27017/Stock?authSource=admin
MONGO_URI_STOREFRONT=mongodb://root:example@localhost:27017/StoreFront?authSource=admin
SERVICE_ACCOUNT_URL=http://localhost:3000
SERVICE_BILL_URL=http://localhost:3004
SERVICE_STOCK_URL=http://localhost:3003
